
//////////////////////////////////////////////
//  $$ mixins

mixin field(i, a, z, b, m, c, ch)
  .control-group
    label.control-label #{a}
    d = ch == "disabled" ? "disabled" : null
      .controls
        if b == "textarea"
          | <#{i} class="#{b} #{m}" id="#{a}" type="#{b}" tabindex="#{c}" value="#{z}" #{d} rows=4 > #{z} </#{i}>
        else
          | <#{i} class="#{b} #{m}" id="#{a}" type="#{b}" tabindex="#{c}" value="#{z}" #{d}>

    if ch !== "disabled"
      span.badge #{ch}

mixin topnav(name)
  .topnav.navbar(class= name): .navbar-inner: .container
    if (name === "home")
      .shift(data-shift-direction="left", data-shift-area="about").home.left
        i.glyph-arrow-left
      .shift(data-shift-direction="right", data-shift-area="account").home.right
        span {{loginButtons}}
        {{#if currentUser}}
        i.glyph-arrow-right {{/if}}
    if (name === "about")
      .shift(data-shift-direction="right", data-shift-area="home"): i.glyph-arrow-right
    if (name === "account")
      .shift(data-shift-direction="left", data-shift-area="home"): i.glyph-arrow-left
      ul.links.row
        a(href="/account"): li
          i.glyph-list
          span dashboard
        a(href="/account/offer"): li
          i.glyph-bucket
          span offer
        // a(href="/account/metrics"): li
        //   i.glyph-pie
        //   span metrics
        a(href="/account/profile"): li
          i.glyph-cog-2
          span profile
        a(href="/account/messages"): li
          i.glyph-envelope
          span messages
        a(href="/account/feedback"): li
          i.glyph-keyboard
          span feedback


//////////////////////////////////////////////
//  $$ head


head
  title Sparrow
  meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')

//////////////////////////////////////////////
//  $$ body


body
  {{> body }}

template(name="body")
  .content
    .current
      {{#constant}}{{/constant}}

      {{#if sessionEquals 'shift_current' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_current' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_current' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{renderPage}}

    .next
      {{#constant}}{{/constant}}

      {{#if sessionEquals 'shift_area' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_area' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_area' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{#if page_next "about"}} {{> about }} {{/if}}
        {{#if page_next "home"}} {{> home }} {{/if}}
        {{#if page_next "account"}} {{> account }} {{/if}}


template(name="about")
  .greeting
    h1 Sparrow
    h2 Loremy ipsum set loret
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Suspendisse congue convallis eleifend.
      Sed at nisl ut eros interdum lacinia rutrum ac neque. Aliquam 
      convallis aliquet laoreet. Quisque lacus lacus, blandit eu iaculis
    p.
      Sit amet, aliquet sit amet purus. Vivamus nec nulla eu elit convallis consequat.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Nam a consectetur odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus vitae eros eget justo dapibus mattis at sit amet enim. Cras enim nisi,
      consectetur sit amet convallis ut, ultricies ut eros. Maecenas at diam et
      nisl faucibus rhoncus et in neque.
    p.
      Suspendisse congue convallis eleifend.
      Sed at nisl ut eros interdum lacinia rutrum ac neque. Aliquam 
      convallis aliquet laoreet. Quisque lacus lacus, blandit eu iaculis

template(name='home')
  {{> hero}}
  {{#each getOffers}}
  {{> offer}}
  {{/each}}

template(name="hero")
  .hero
    {{#constant}}

    .headline
      .inner
        .tagset
          span
        .article
          span
        .sort
          span
        .tag
          span
        .noun
          span

    .list.long
      ul.tagset-list.span3(data-constant=true)
      ul.sort-list.span3(data-constant=true).margin.left
      ul.tag-list.span3.margin.left
      ul.noun-list.span3(data-constant=true).margin.left

    {{/constant}}

template(name="404")
  h1.
    Are you lost?

template(name='editor')
  div.editor(id="{{name}}").row
    h1.capitalize {{name}}

    table.table.table-hover.span4.offset1
      thead: tr
        {{#each keys}}
        th(id="{{this}}") {{this}}
        {{/each}}
      tbody
        {{#each collection}}
        tr(id="{{this._id}}")
          {{#key_value this}}
          td(id="{{key}}") {{value}}
          {{/key_value}}
        {{/each}}

    form(action='').span4.offset1
      {{#each keys}}
      .control-group(id="{{this}}")
        label.control-label.capitalize {{this}}
        .controls
          input.text(type="text", id="{{this}}")
      {{/each}}
      .btn-group
        button.btn.save(type='button')#update Update
        button.btn.save(type='button')#add Add
        button.btn.btn-warning.remove(type='button')#remove Remove


//////////////////////////////////////////////
//  $$ admin

template(name='admin_users')
  {{#grab "Users"}}
  {{> editor }}
  {{/grab}}

template(name='admin_tags')
  {{#grab "Tagsets"}}
  {{> editor }}
  {{/grab}}

  {{#grab "Tags"}}
  {{> editor }}
  {{/grab}}

template(name="admin_sorts")
  {{#grab "Sorts"}}
  {{> editor }}
  {{/grab}}

template(name="admin_offers")
  {{#grab "Offers"}}
  {{> editor }}
  {{/grab}}

template(name="admin_metrics")
  h1 DERP


//////////////////////////////////////////////
//  $$ account

template(name='account')
  .greeting.centered.span7.offset2
    h1 Not much here...
    h5.
      We haven't fleshed out the dashboard yet. But hey, you don't have to sit around waiting for it --
      in the meantime, have you made an offer yet? Why not give it a whirl?
  .clearfix

template(name='account_profile')

  {{#grab "User"}}
  {{#first this.collection}}
  .greeting.row

    h5.centered.
      Make your changes; enter your password; hit save.
      <br>You know the drill.


    form.span5.offset4
      mixin field("input", "username", "{{this.username}}", "text", "span4 limited", 1 )
      mixin field("input", "email", "{{getEmail.address}}", "text", "span4 limited", 2 )
      mixin field("input", "password", "123456", "password", "span4 limited", 2, "disabled" )

    .clearfix

    button.btn.btn-inverse.save Save
    {{/first}}
    {{/grab}}

template(name="change_password")
  mixin field("input", "new password", "", "password", "span4 limited", 1 )
  mixin field("input", "new password (again)", "", "password", "span4 limited", 1 )

template(name='account_metrics')
  {{#with getUser}}
  ul
    li
      strong Offers: 
      {{offers}}
    li
      strong Votes: 
      {{votes.length}}{{/with}}

template(name='account_offer')

  {{#with getOffer}}

  .account_offer
    {{#if sessionEquals 'show' 'intro'}} {{else}}
    {{> offer}} {{/if}}


  .clearfix

  .account-offer.navbar: .navbar-inner: .container
    ul.nav
      mixin nav-item(a, b, c)
        li(class= c, data-value= a)
          i(class="glyph-" + b)
          | #{a}
      mixin nav-item("text", "feather", "show")
      mixin nav-item("tags", "tag-2", "show")
      mixin nav-item("symbol", "palette", "show")
      mixin nav-item("location", "map", "show")
      mixin nav-item("qr", "qrcode", "show")
      mixin nav-item("save", "disk", "save")
      mixin nav-item("help", "help", "help")

  {{#if sessionEquals 'help' 'true'}}
  .clearfix
  .help-unit.row
    {{#if sessionEquals 'show' 'intro'}}
    .span6.offset3.intro
      h3 Welcome to your offer area!
      p.
        Here you can create, edit, and publish your offer in a matter of seconds. The "help" selection
        is on by default, so you'll see more of this text. Whenever you want, you can turn off the
        help text by hitting the toggle in the upper left.
      br
      p: strong Ready to make an offer?
      button.btn.btn-large.show(data-value="text", color="{{this.color}}"): em Let's go!
    {{/if}}
    {{#if sessionEquals 'show' 'text'}}
    .span12
      h3 What are we selling?
    .span5.offset1
      p.
        Although everyone buys differently, we all want
        to know what the product is, who is selling it, and for how much.
      p.
        You might notice that we limit the amount you can write. Sorry 'bout that. If you're having
        trouble condensing your product's information, try this little exercise out...
      p.
        Pretend you're dangling from a cliff and you needed this object to save your life. Your friend
        wants to help you, but he is up some distance at the top of the cliff, unable to reach you.
    .span5
      p.
        At this moment, he is waiting for you yell up and describe the object to him so he can
        retrive it from your car and lower it to you with a rope.
      p.
        What do you yell to him?
      p.
        Did that help? Maybe? It's a weird exercise. Me, personally, I would just yell for the rope,
        but for the sake of the exercise, let's pretend that's against the rules.
    {{/if}}
    {{#if sessionEquals 'show' 'tags'}}
    .span12
      h3 Tags, tags, and more tags
    .span5.offset1
      p.
        Tags are adjectives that describe your offer. They are the words that <em>you</em> feel are important
        for others to know -- they should cut to right to the chase.
      p.
        In order to get your offer to people who are most likely to buy, we limit the tags that an offer can have.
        That way, your tag gets in front of the buyers you need, and your competitors offers aren't encroaching on
        your territory.
    .span5
      p.
        So what tags should you choose? That's up to you. You should pick tags that you think others should know
        about your good -- something that sets it apart from any offers people may find. A quality that your offer
        has that the other guy's doesn't.
      p.
        What makes your offer unique? Is it a savory burger? An killer concert? A vintage scarf?
    {{/if}}
    {{#if sessionEquals 'show' 'symbol'}}
    .span12
      h3 What's your sign? No, not that sign...
    .span5.offset1
      p.
        You symbol is simply the sign on the left-hand side of the offer that distinguishes it. You can pick
        a symbol from our list below and combine it with any color.
    .span5
      p.
        No, you can't upload your logo <em>yet</em>, but it's coming. We want to ensure that every offer has
        at least some sort of symbol, so that even someone without a flashy logo can be represented equally.
    {{/if}}
    {{#if sessionEquals 'show' 'location'}}
    .span12
      h3 Oh offer, where art thou?
    .span5.offset1
      p.
        We use the address you list here to provide geolocation to the user, so be sure to list where the
        <em>offer</em> is, not where you are.
    .span5
      p.
        For now, you can only list one location, but don't cry. We'll be rolling out multiple location features
        just as soon as enough people bug us about it.
    {{/if}}
    {{#if sessionEquals 'show' 'qr'}}
    .span4.offset4
      p.
        Here's a QR code for you. If takes the user to a page where they can vote for your offer. More to
        come on this.
    {{/if}}
  {{/if}}



  .clearfix.pad

    {{#if show "text"}}
    {{> account_offer_text }}
    {{/if}}


    {{#if show "qr"}}
    .area
      .actions
        div.icon
          i.glyph-qrcode#qr-button
          br
          span qr code
      #qr-code
      .clearfix
    {{/if}}

    {{#if show "symbol"}}
    {{> account_offer_symbol }}
    {{/if}}

    {{#if show "tags"}}
    {{> account_offer_tags }}
    {{/if}}

    {{#if show "location"}}
    {{> account_offer_location }}
    {{/if}}

    {{/with}}

template(name="account_offer_text")
  .area
    form
      .span5.offset1
        mixin field("input", "name", "{{this.name}}", "text", "span4 limited", 1, "{{charLength 'name'}}")
        mixin field("textarea", "description", "{{this.description}}", "textarea", "span4 limited", 2, "{{charLength 'description'}}")
      .span5
        mixin field("input", "business", "{{this.business}}", "text", "span4 limited", 3, "{{charLength 'business'}}")
        mixin field("input", "price", "{{this.price}}", "text", "span2", 4 )
    .clearfix

template(name="account_offer_tags")
  .area
    .tag-list.long.offset1
      {{#each find 'Tagsets' '{}'}}
      {{#with checkTagsetActive}}
      ul.span2.tagset(data-tagset="{{this.name}}", data-status="{{this.attr}}")
        strong {{this.name}}
        {{#each getTags}}
        li
          {{#with checkTagActive}}
          | <span {{attr}}>{{name}}</span>
          {{/with}}
        {{/each}}
      {{/with}}
      {{/each}}

template(name="account_offer_symbol")
  .area
    .glyphs-list.row
      .span11.inner
        input.text.color(type='text', style='background: {{this.color}}', value="{{this.color}}").span10
        .clearfix
        {{#each getIcons}}
        .glyph
          .large(class="glyph-{{this}}")
        {{/each}}

template(name="account_offer_location")
  .area
    form#location
      .span5.offset3
        mixin field("input", "street", "{{this.street}}", "text", "span5", 1)
        mixin field("input", "city", "{{this.city}}", "text", "span4", 2 )
        mixin field("input", "state", "{{this.state}}", "text", "span2", 2 )
        mixin field("input", "zip", "{{this.zip}}", "text", "span2", 2 )

template(name="account_messages")
  .greeting.row
    h5.centered Messages are deleted after a few days.


  {{#each find 'Messages' '{}' '{"sort": {"lastSent": -1}}' }}
  {{> account_message }}
  {{/each}}

template(name="account_message")

  .message-container.long.span12
    {{#each this.content}}
    article.clearfix
      .from.span2 {{#first this.from}}{{this.username}}{{/first}}:
      .message.span7: .inner {{this.message}}
      .sent.span3 {{styleDate this.sent}}
    {{/each}}
    article.clearfix.compose
      .from.span2 {{currentUser.username}}
      .message.span7
        textarea(rows=1, placeholder="...")
      .sent.span3.send send

template(name="account_feedback")
  .greeting.row
    .span6.offset3
      h5.centered.
        If you have something you'd like to mention to us, go ahead
        and fill out this little message box and send it our way.
      br

    form#feedback.span4.offset4
      .control-group
        .controls
          textarea(rows=4).span4
      button.btn.btn-inverse.centered.span4 Send

    .span10.offset1
      h5.centered We'd like to take a moment to say <em>thank you</em>...
      p.
        As you might have guessed, the folks behind the scenes here
        are all in love with Kansas City, and we hope you are
        too. We've worked hard to make something special for our home
        -- an elegant tool that lets us to trade with our friends,
        family, and neighbors in just seconds. And now, with your help,
        we have a chance to make it great.
      p.
        The feedback and interaction we receive from people like you
        will play a major role in determining how we
        approach our application, our objectives, and most importantly,
        our community.


//////////////////////////////////////////////
//  $$ offer

template(name='thisOffer')
  div.thisOffer
    {{#with getThisOffer}}
    {{> offer}}
    .input-append
      input.text(type="text")
      button.btn Go!
    {{/with}}

template(name='offer')
  div.offer(data-tagset="{{this.tagset}}").long
    section.symbol(style="background: {{this.color}}").span2
      div(class='{{this.symbol}}')
    section.main(style="background: {{this.color}}").span4.extend
      span.field(data-field='name') {{this.name}}
      p.field(data-field='description') {{this.description}}
      span.field(data-field='business') {{this.business}}
      br
    section.data
      .votes(style="background: {{this.color}}").span1.margin.left
        i.glyph-plus.full-icon
        .metric(style="background: {{this.color}}")
          span {{this.votes}} votes
        .bg
      .map.distance(style="background: {{this.color}}").span1.margin.left
        i.glyph-location.full-icon
        .metric(style="background: {{this.color}}")
          span {{this.distance}} mi.
        .bg
      .buy.price(style="background: {{this.color}}").span1.margin.left
        i.glyph-tag-2.full-icon
        .metric(style="background: {{this.color}}")
          span ${{this.price}}
        .bg
      .updatedAt(style="background: {{this.color}}").span1.margin.left
        i.glyph-history.full-icon
        .metric(style="background: {{this.color}}")
          span {{styleDate this.updatedAt}}
        .bg

    section.actions.span2.margin.left
      ul
        li.vote(style="background: {{this.color}}", data-status="inactive", data-selector="vote") upvote
        li.map(style="background: {{this.color}}", data-status="inactive", data-selector="map") directions
        li.reserve(style="background: {{this.color}}", data-status="inactive", data-selector="reserve") reserve
        li.message(style="background: {{this.color}}", data-status="inactive", data-selector="message") message

    section.extension(data-extension="map")
      header(style="background: {{this.color}}") Directions
      .inner.map.span8
      .inner.span4.margin.left(style="background: {{this.color}}")
        p.address
          | {{this.street}}
          br
          | {{this.city}}, {{this.state}}
          br
          | {{#if this.zip}}{{this.zip}}{{/if}}
    section.extension(data-extension="message")
      header(style="background: {{this.color}}") Message
      .inner.span10(style="background: {{this.color}}")
        textarea(placeholder="Write a little note...")
        .message-area
      .inner.span2(style="background: {{this.color}}").margin.left.send send
    section.extension(data-extension="buy")



template(name="redirect")
  button.btn All done!
