head
  title Sparrow
  meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')

body
  {{> body }}

mixin topnav(name)
  .topnav.navbar: .navbar-inner: .container
    if (name === "home")
      .shift(data-shift-direction="left", data-shift-area="about").home.left
        i.glyph-arrow-left
        // i.icon-large.logo.glyph-cassette
      .shift(data-shift-direction="right", data-shift-area="account").home.right
        span {{loginButtons}}
        {{#if signedIn}}
        i.glyph-arrow-right {{/if}}
    if (name === "about")
      .shift(data-shift-direction="right", data-shift-area="home"): i.glyph-arrow-right
    if (name === "account")
      .shift(data-shift-direction="left", data-shift-area="home"): i.glyph-arrow-left
      ul.links
        li(data-page="offer")
          i.glyph-clipboard
          span offer
        li(data-page="metrics")
          i.glyph-presentation
          span metrics
        li(data-page="profile")
          i.glyph-paper-plane
          span profile
        // li(data-page="info")
        //   i.glyph-question-mark
        //   span info

        // a(href="/account/offer"): i.glyph-cassette
        // a(href="/account/metrics"): i.glyph-presentation
        // a(href="/account/profile"): i.icon-cogs

template(name="body")
  .content
    .current
      {{#constant}}{{/constant}}

      {{#if sessionEquals 'shift_current' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_current' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_current' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{renderPage}}

    .next
      {{#constant}}{{/constant}}

      {{#if sessionEquals 'shift_area' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_area' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_area' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{#if page_next "about"}} {{> about }} {{/if}}
        {{#if page_next "home"}} {{> home }} {{/if}}
        {{#if page_next "account"}} {{> account }} {{/if}}


template(name="about")
  .greeting
    h1 Sparrow
    h2 Loremy ipsum set loret
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Suspendisse congue convallis eleifend.
      Sed at nisl ut eros interdum lacinia rutrum ac neque. Aliquam 
      convallis aliquet laoreet. Quisque lacus lacus, blandit eu iaculis
    p.
      Sit amet, aliquet sit amet purus. Vivamus nec nulla eu elit convallis consequat.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      Nam a consectetur odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus vitae eros eget justo dapibus mattis at sit amet enim. Cras enim nisi,
      consectetur sit amet convallis ut, ultricies ut eros. Maecenas at diam et
      nisl faucibus rhoncus et in neque.
    p.
      Suspendisse congue convallis eleifend.
      Sed at nisl ut eros interdum lacinia rutrum ac neque. Aliquam 
      convallis aliquet laoreet. Quisque lacus lacus, blandit eu iaculis

template(name='home')
  {{> hero}}
  {{#each getOffers}}
  {{> offer}}
  {{/each}}

template(name="hero")
  .hero
    {{#constant}}

    .headline
      .inner
        .tagset
        .preposition
        .article
        .sort
        .tag
        .noun

    .list.long
      ul.tagset-list.span3(data-constant=true)
      ul.sort-list.span3(data-constant=true).margin.left
      ul.tag-list.span3.margin.left
      ul.noun-list.span3(data-constant=true).margin.left

    {{/constant}}

template(name="404")
  h1.
    Are you lost?

template(name='editor')
  div.editor(id="{{name}}").row
    h1.capitalize {{name}}

    table.table.table-hover.span4.offset1
      thead: tr
        {{#each keys}}
        th(id="{{this}}") {{this}}
        {{/each}}
      tbody
        {{#each collection}}
        tr(id="{{this._id}}")
          {{#key_value this}}
          td(id="{{key}}") {{value}}
          {{/key_value}}
        {{/each}}

    form(action='').span4.offset1
      {{#each keys}}
      .control-group(id="{{this}}")
        label.control-label.capitalize {{this}}
        .controls
          input.text(type="text", id="{{this}}")
      {{/each}}
      .btn-group
        button.btn.save(type='button')#update Update
        button.btn.save(type='button')#add Add
        button.btn.btn-warning.remove(type='button')#remove Remove


template(name='admin_users')
  {{#grab "Users"}}
  {{> editor }}
  {{/grab}}

template(name='admin_tags')
  {{#grab "Tagsets"}}
  {{> editor }}
  {{/grab}}

  {{#grab "Tags"}}
  {{> editor }}
  {{/grab}}

template(name="admin_sorts")
  {{#grab "Sorts"}}
  {{> editor }}
  {{/grab}}

template(name="admin_offers")
  {{#grab "Offers"}}
  {{> editor }}
  {{/grab}}

template(name="admin_metrics")
  h1 DERP

template(name='account')
  {{#if sessionEquals 'accountPage' 'profile'}}
  {{> account_profile }}
  {{/if}}

  {{#if sessionEquals 'accountPage' 'offer'}}
  {{> account_offer }}
  {{/if}}

  {{#if sessionEquals 'accountPage' 'metrics'}}
  {{> account_metrics }}
  {{/if}}


template(name='account_profile')
  {{#grab "User"}}
  {{this.collection.username}}
  {{> editor }}
  {{/grab}}

  // {{#grab "User"}}
  // {{#first this.collection}}
  // .greeting 
  //   h1 Hi, {{this.username}}!
  // {{/first}}
  // {{/grab}}

template(name='account_metrics')
  {{#with getUser}}
  ul
    li
      strong Offers: 
      {{offers}}
    li
      strong Votes: 
      {{votes.length}}{{/with}}

template(name='account_offer')

  {{#with getOffer}}
  .account.navbar: .navbar-inner: .container
    ul.nav
      mixin nav-item(a, b, c)
        li(class= c, data-value= a)
          i(class="glyph-" + b)
          | #{a}
      mixin nav-item("text", "feather", "show")
      mixin nav-item("tags", "tag-2", "show")
      mixin nav-item("symbol", "palette", "show")
      mixin nav-item("location", "map", "show")
      mixin nav-item("qr", "qrcode", "show")
      mixin nav-item("save", "disk", "save")
      mixin nav-item("help", "help", "help")

  .clearfix

  {{#if status_alert}}
  {{#with status_alert}}
  {{> status_alert }}
  {{/with}}
  {{/if}}

  .clearfix

  .account_offer
    {{#if sessionEquals 'show' 'intro'}} {{else}}
    {{> offer}} {{/if}}

  {{#if sessionEquals 'help' 'true'}}

  .clearfix

  .help-unit.row
    {{#if sessionEquals 'show' 'intro'}}
    .span6.offset3.intro
      h3 Welcome to your offer area!
      p.
        Here you can create, edit, and publish your offer in a matter of seconds. The "help" selection
        is on by default, so you'll see more of this text. Whenever you want, you can turn off the
        help text by hitting the toggle in the upper left.
      br
      p: strong Ready to make an offer?
      button.btn.btn-large.show(data-value="text", color="{{this.color}}"): em Let's go!
    {{/if}}
    {{#if sessionEquals 'show' 'text'}}
    .span12
      h3 What are we selling?
    .span5.offset1
      p.
        Although everyone buys differently, we all want
        to know what the product is, who is selling it, and for how much.
      p.
        You might notice that we limit the amount you can write. Sorry 'bout that. If you're having
        trouble condensing your product's information, try this little exercise out...
      p.
        Pretend you're dangling from a cliff and you needed this object to save your life. Your friend
        wants to help you, but he is up some distance at the top of the cliff, unable to reach you.
    .span5
      p.
        At this moment, he is waiting for you yell up and describe the object to him so he can
        retrive it from your car and lower it to you with a rope.
      p.
        What do you yell to him?
      p.
        Did that help? Maybe? It's a weird exercise. Me, personally, I would just yell for the rope,
        but for the sake of the exercise, let's pretend that's against the rules.
    {{/if}}
    {{#if sessionEquals 'show' 'tags'}}
    .span12
      h3 Tags, tags, and more tags
    .span5.offset1
      p.
        Tags are adjectives that describe your offer. They are the words that <em>you</em> feel are important
        for others to know -- they should cut to right to the chase.
      p.
        In order to get your offer to people who are most likely to buy, we limit the tags that an offer can have.
        That way, your tag gets in front of the buyers you need, and your competitors offers aren't encroaching on
        your territory.
    .span5
      p.
        So what tags should you choose? That's up to you. You should pick tags that you think others should know
        about your good -- something that sets it apart from any offers people may find. A quality that your offer
        has that the other guy's doesn't.
      p.
        What makes your offer unique? Is it a savory burger? An killer concert? A vintage scarf?
    {{/if}}
    {{#if sessionEquals 'show' 'symbol'}}
    .span12
      h3 What's your sign? No, not that sign...
    .span5.offset1
      p.
        You symbol is simply the sign on the left-hand side of the offer that distinguishes it. You can pick
        a symbol from our list below and combine it with any color.
    .span5
      p.
        No, you can't upload your logo <em>yet</em>, but it's coming. We want to ensure that every offer has
        at least some sort of symbol, so that even someone without a flashy logo can be represented equally.
    {{/if}}
    {{#if sessionEquals 'show' 'location'}}
    .span12
      h3 Oh offer, where art thou?
    .span5.offset1
      p.
        We use the address you list here to provide geolocation to the user, so be sure to list where the
        <em>offer</em> is, not where you are.
    .span5
      p.
        For now, you can only list one location, but don't cry. We'll be rolling out multiple location features
        just as soon as enough people bug us about it.
    {{/if}}
    {{#if sessionEquals 'show' 'qr'}}
    .span4.offset4
      p.
        Here's a QR code for you. If takes the user to a page where they can vote for your offer. More to
        come on this.
    {{/if}}
  {{/if}}



  .clearfix.pad

    mixin field(a, z, b, m, c, ch)
      .control-group
        label.control-label #{a}
        if b == "text"
          .controls: input(class= b +" "+ m, id= a, type= b, tabindex= c, value= z)
        if b == "textarea"
          .controls: textarea(class= b +" "+ m, id= a, type= b, tabindex= c, value= z, rows= 4) #{z}
        if ch
          span.badge #{ch}

    {{#if show "text"}}
    {{> account_offer_text }}
    {{/if}}


    {{#if show "qr"}}
    .area
      .actions
        div.icon
          i.glyph-qrcode#qr-button
          br
          span qr code
      #qr-code
      .clearfix
    {{/if}}

    {{#if show "symbol"}}
    {{> account_offer_symbol }}
    {{/if}}

    {{#if show "tags"}}
    {{> account_offer_tags }}
    {{/if}}

    {{#if show "location"}}
    {{> account_offer_location }}
    {{/if}}

    {{/with}}

template(name="status_alert")
  div(class="{{this.type}}").alert
    button.close ×
    // button.close(type='button', data-dismiss='alert') ×
    strong {{this.heading}} 
    | {{this.message}}

template(name="account_offer_text")
  .area
    form
      .span5.offset1
        mixin field("name", "{{this.name}}", "text", "span4 limited", 1, "{{charLength 'name'}}")
        mixin field("description", "{{this.description}}", "textarea", "span4 limited", 2, "{{charLength 'description'}}")
      .span5
        mixin field("business", "{{this.business}}", "text", "span4 limited", 3, "{{charLength 'business'}}")
        mixin field("price", "{{this.price}}", "text", "span2", 4 )
    .clearfix

template(name="account_offer_tags")
  .area
    .tag-list.long.offset1
      {{#each find 'Tagsets' '{}'}}
      {{#with checkTagsetActive}}
      ul.span2.tagset(data-tagset="{{this.name}}", data-status="{{this.attr}}")
        strong {{this.name}}
        {{#each getTags}}
        li
          {{#with checkTagActive}}
          | <span {{attr}}>{{name}}</span>
          {{/with}}
        {{/each}}
      {{/with}}
      {{/each}}

template(name="account_offer_symbol")
  .area
    .glyphs-list.row
      .span11.inner
        input.text.color(type='text', style='background: {{this.color}}', value="{{this.color}}").span10
        .clearfix
        {{#each getIcons}}
        .glyph
          .large(class="glyph-{{this}}")
        {{/each}}

template(name="account_offer_location")
  .area
    form#location
      .span5.offset3
        mixin field("street", "{{this.street}}", "text", "span5", 1)
        mixin field("city", "{{this.city}}", "text", "span4", 2 )
        mixin field("state", "{{this.state}}", "text", "span2", 2 )
        mixin field("zip", "{{this.zip}}", "text", "span2", 2 )

template(name='thisOffer')
  div.thisOffer
    {{#with getThisOffer}}
    {{> offer}}
    .input-append
      input.text(type="text")
      button.btn Go!
    {{/with}}

template(name='offer')
  div.offer(data-tagset="{{this.tagset}}").long
    section.symbol(style="background: {{this.color}}").span2
      div(class='{{this.symbol}}')
    section.main(style="background: {{this.color}}").span4
      span.field(data-field='name') {{this.name}}
      p.field(data-field='description') {{this.description}}
      span.field(data-field='business') {{this.business}}
      br
    section.actions
      .votes(style="background: {{this.color}}").span2.margin.left
        i.glyph-plus.full-icon(data-status="inactive", data-selector="vote")
        .metric(style="background: {{this.color}}")
          span {{this.votes}} votes
        .bg
      .map.distance(style="background: {{this.color}}").span2.margin.left
        i.glyph-location.full-icon(data-status="inactive", data-selector="map")
        .metric(style="background: {{this.color}}")
          span {{this.distance}} mi.
        .bg
      .buy.price(style="background: {{this.color}}").span2.margin.left
        i.glyph-tag-2.full-icon(data-status="inactive", data-selector="buy")
        .metric(style="background: {{this.color}}")
          span ${{this.price}}
        .bg
    section.extension(data-extension="map")
    section.extension(data-extension="message")
      {{> message}}
    section.extension(data-extension="buy")

template(name="message")
  form.form-horizontal
    .control-group
      label.control-label LABEL
      .controls
        textarea(rows=3)



template(name="redirect")
  button.btn All done!
