

//////////////////////////////////////////////
//  $$ mixins

mixin shift-block(opt)
  .shift-block(data-help-block="false", data-help-selector="shift", class= opt.area +" "+ opt.direction )
    a.shift(href= "#", data-shift-direction= opt.direction, data-shift-area= opt.area )
      i(class="glyph-arrow-" + opt.direction)

mixin link(opt)
  a(href= opt.href, class= opt.class ): li
    i(class= "glyph-" + opt.glyph)
    span= opt.label

mixin sublink(type, area, sub_area, name)
  a(href="/#{area}/#{sub_area}/#{name}", data-type=type): li: span #{name}

mixin sublink-action( name )
  a(href="#", class= name): li: span.action #{ name }

mixin sublink-separator()
  li.separator: span |  

mixin sublink-shadow()
  hr.shadow.bottom.thin

mixin topnav(name)
  .topnav.navbar(class= name)
    if (name === "home")
      mixin shift-block({direction: "left", area: "about"})
      {{#if currentUser}}
      mixin shift-block({direction: "right", area: "account"})
      {{else}}
      .shift-block(data-help-block="false", data-help-selector="shift").account.right
        a(href="#").shift(disabled): i.glyph-arrow-right
      {{/if}}
      ul.links.row.clr-bg.light
    if (name === "about")
      mixin shift-block({direction: "right", area: "home"})
      ul.links.row.clr-bg.light
        mixin link({label: "about", href: "/about", glyph: "paper-plane" })
        mixin link({label: "faq", href: "/about/faq", glyph: "question" })
        mixin link({label: "blog", href: "/about/blog", glyph: "ampersand" })
        // mixin link({label: "roadmap", href: "/about/roadmap", glyph: "map" })
        // mixin link({label: "feedback", href: "/about/feedback", glyph: "keyboard" })
      ul.sublinks
    if (name === "account")
      mixin shift-block({direction: "left", area: "home"})
      ul.links.row.clr-bg.light
        mixin link({label: "profile", href: "/account/profile", glyph: "cog-2" })
        mixin link({label: "offer", href: "/account/offer", glyph: "bucket" })
        mixin link({label: "earnings", href: "/account/earnings", glyph: "pig" })
        mixin link({label: "messages", href: "/account/messages", glyph: "list" })
        // mixin link({label: "feedback", href: "/account/feedback", glyph: "keyboard" })

      {{#if sublink "account" "profile"}}
      area = "profile"
      ul.sublinks(class="#{name}_#{area}")
        .inner
          mixin sublink( "page", name, area, "edit" )
          mixin sublink( "page", name, area, "colors" )
          mixin sublink( "page", name, area, "settings" )
          mixin sublink-separator()
          mixin sublink-action( "save" )
        .bg
        mixin sublink-shadow
      {{/if}}

      {{#if sublink "account" "offer"}}
      area = "offer"
      ul.sublinks(class="#{name}_#{area}")
        .inner
          mixin sublink( "show", name, area, "info" )
          mixin sublink( "show", name, area, "tags" )
          mixin sublink( "show", name, area, "images" )
          mixin sublink( "show", name, area, "location" )
          mixin sublink-separator()
          mixin sublink-action( "save" )
          // mixin sublink( "show", name, area, "limits" )
        .bg
        mixin sublink-shadow
      {{/if}}

      {{#if sublink "account" "earnings"}}
      area = "earnings"
      ul.sublinks(class="#{name}_#{area}")
        .inner
          mixin sublink( "page", name, area, "dashboard" )
          mixin sublink( "page", name, area, "guidelines" )
          mixin sublink( "page", name, area, "reference" )
        .bg
        mixin sublink-shadow
      {{/if}}

      {{#if sublink "account" "messages"}}
      area = "messages"
      ul.sublinks(class="#{name}_#{area}")
        .inner
          mixin sublink( "page", name, area, "inbox" )
          mixin sublink( "page", name, area, "feedback" )
        .bg
        mixin sublink-shadow
      {{/if}}



head
  title Connected
  meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  style(type="text/css", title="dynamic-theme")


body
  {{> wrapper }}

template(name="wrapper")
  #dimmer
  .wrapper
    {{> ceiling }}
    {{> content }}

template(name="ceiling")
  nav.ceiling.clr-bg.dark(data-terrace= "true")
    .toggler-group.left
      a(href="#")
        .brand
      // a(data-toggle-mode="help")
      //   i.glyph-help
      //   span help

    .terrace
      {{#constant}}
      #terrace-alert.centered
      #terrace-help.centered
      {{/constant}}


      #sign-in.long
        .inputs
          div(data-account="sign", data-slip-show='true')
            input(type="text", placeholder="username", id="username", tabindex=1).span4
            input(type="password", placeholder="password", id="password", tabindex=3).span4
          .clearfix
          div(data-account="create", data-slip-show="false")
            input(type="text", placeholder="email (optional)", id="email", tabindex=2).span4
            input(type="password", placeholder="password (again)", id="password2", tabindex=4).span4
          .clearfix
          div(data-account="forgot", data-slip-show="false")
            p A message with instructions will be sent to your email address
            input(type="text", placeholder="email", id="forgot-email", tabindex=1).span8
        .controls
          button(type="submit", data-account-submit-type="sign", tabindex=4).btn.clr-bg.span8 Sign In
        .clearfix
        .alert.alert-blend-in Message
        .clearfix
        .navigation
          a(href="#", data-account-data='{"hide": ["forgot", "create"], "show":["sign"], "type":"sign", "text": "Sign In"}').active Sign In 
          |  | 
          a(href="#", data-account-data='{"hide": ["forgot"], "show":["sign", "create"], "type":"create", "text": "Create Account"}') Create Account 
          |  | 
          a(href="#", data-account-data='{"hide": ["sign", "create"], "show":["forgot"], "type":"forgot", "text": "Reset password"}') Forgot Password 

    .toggler-group.right
      {{#if currentUser}}
      {{#isolate}}
      .logout
        span.badge {{dropDecimal currentUser.karma}} 
        span {{currentUser.username}}
      {{/isolate}}
      {{else}}
      a.login(data-toggle-mode="sign-in")
        span#login login
    {{/if}}


template(name="content")
  .content
    .current
      {{#constant}} {{/constant}}

      {{#if sessionEquals 'shift_current' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_current' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_current' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{renderThemeColors currentUser}}
        {{renderPage}}

    .next
      {{#constant}} {{/constant}}

      {{#if sessionEquals 'shift_area' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_area' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_area' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{{next_page}}}


template(name='home')
  {{#if getStore "user_loc"}}
  {{> hero }}
  .offers(data-help-block="false", data-help-selector="offers", data-gray="{{gray 'offers'}}")
    {{#each getOffers}}
    {{> offer }}
    {{/each}}
  {{else}}
  {{> intro }}
  {{/if}}

template(name='intro')
  #intro
    .body
      {{#constant}}
      div#big-brand
      {{/constant}}
      h3.smashed.
        A real-time web application that finds 
        things near you and presents them interchangeably.
        <a href="/about" class="shift" data-shift-direction="left" data-shift-area="about"> Learn more </a>

    .clearfix

    footer
      button.btn.clr-bg.prime#getLocation Locate me automatically
      h4 or
      .input-append
        input(type="text", placeholder="address, city, or zip")
        button.btn.clr-bg.prime(type="button").geolocate Go

template(name="hero")
  .hero(data-gray="{{gray 'hero'}}")

    {{#constant}}
    .headline(data-help-block="false", data-help-selector="heroHeadline")
      .inner
        .tagset
          span
        .article
          span
        .sort
          span
        .tag
          span
        .noun
          span

    {{/constant}}

    .list.long(data-help-block="false", data-help-selector="heroList")
      .contents.span12

        {{#isolate}}
        {{#with getStore 'notes'}}
        .notes.clr-text.prime.centered
          p {{el 'strong' this.count}} offers | {{el 'strong' this.votes}} votes | {{el 'strong' 0}} purchases
        {{/with}}
        {{/isolate}}

        hr.shadow.top

        {{#constant}}
        .items
          ul.tagset-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListTagset")
          ul.sort-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListSort").margin.left
          ul.tag-list.span3(data-help-block="false", data-help-selector="heroListTag").margin.left
          ul.noun-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListNoun").margin.left
        {{/constant}}

        hr.shadow.bottom

template(name="404")
  h1.
    Are you lost?

