

//////////////////////////////////////////////
//  $$ mixins

mixin link(opt)
  a(href= opt.href, class= opt.class ): li
    i(class= "glyph-" + opt.glyph)
    span= opt.label

mixin shift-block(opt)
  .shift-block(data-help-block="false", data-help-selector="shift", class= opt.area +" "+ opt.direction )
    a.shift(href= "#", data-shift-direction= opt.direction, data-shift-area= opt.area )
      i(class="glyph-arrow-" + opt.direction)

mixin topnav(name)
  .topnav.navbar(class= name)
    if (name === "home")
      mixin shift-block({direction: "left", area: "about"})
      {{#if currentUser}}
      mixin shift-block({direction: "right", area: "account"})
      {{else}}
      .shift-block(data-help-block="false", data-help-selector="shift").account.right
        a(href="#").shift(disabled): i.glyph-arrow-right
      {{/if}}
      ul.links.row.clr-bg.light
    if (name === "about")
      mixin shift-block({direction: "right", area: "home"})
      ul.links.row.clr-bg.light
        mixin link({label: "about", href: "/about", glyph: "paper-plane" })
        mixin link({label: "faq", href: "/about/faq", glyph: "question" })
        mixin link({label: "roadmap", href: "/about/roadmap", glyph: "map" })
        mixin link({label: "feedback", href: "/about/feedback", glyph: "keyboard" })
        mixin link({label: "blog", href: "/about/blog", glyph: "ampersand" })
    if (name === "account")
      mixin shift-block({direction: "left", area: "home"})
      ul.links.row.clr-bg.light
        mixin link({label: "dashboard", href: "/account", glyph: "list" })
        mixin link({label: "offer", href: "/account/offer", glyph: "bucket" })
        mixin link({label: "messages", href: "/account/messages", glyph: "list" })
        mixin link({label: "profile", href: "/account/profile", glyph: "cog-2" })
        mixin link({label: "feedback", href: "/account/feedback", glyph: "keyboard" })


head
  title Sparrow
  meta(name='viewport',content='initial-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  style(type="text/css", title="dynamic-theme")

body
  {{> wrapper }}

template(name="wrapper")
  #dimmer
  .wrapper
    {{> ceiling }}
    {{> content }}

template(name="ceiling")
  nav.ceiling.clr-bg.dark(data-terrace= "true")
    .toggler-group.left
      a(data-toggle-mode="help")
        i.glyph-help
        span help

    .terrace
      {{#constant}}
      #terrace-alert.centered
      {{/constant}}

      #help.centered
        h4 You have turned on help.
        p To learn more about an area, hover over it.

      #sign-in.long
        .inputs
          div(data-account="sign", data-slip-show='true')
            input(type="text", placeholder="username", id="username", tabindex=1).span4
            input(type="password", placeholder="password", id="password", tabindex=3).span4
          .clearfix
          div(data-account="create", data-slip-show="false")
            input(type="text", placeholder="email (optional)", id="email", tabindex=2).span4
            input(type="password", placeholder="password (again)", id="password2", tabindex=4).span4
          .clearfix
          div(data-account="forgot", data-slip-show="false")
            p A message with instructions will be sent to your email address
            input(type="text", placeholder="email", id="forgot-email", tabindex=1).span8
        .controls
          button(type="submit", data-account-submit-type="sign").btn.clr-bg.span8 Sign In
        .clearfix
        .alert.alert-blend-in Message
        .clearfix
        .navigation
          a(href="#", data-account-data='{"hide": ["forgot", "create"], "show":["sign"], "type":"sign", "text": "Sign In"}').active Sign In 
          |  | 
          a(href="#", data-account-data='{"hide": ["forgot"], "show":["sign", "create"], "type":"create", "text": "Create Account"}') Create Account 
          |  | 
          a(href="#", data-account-data='{"hide": ["sign", "create"], "show":["forgot"], "type":"forgot", "text": "Reset password"}') Forgot Password 

    .toggler-group.right
      {{#if currentUser}}
      .logout
        span {{currentUser.karma}}
        span {{currentUser.username}}
      {{else}}
      a.login(data-toggle-mode="sign-in")
        span#login login
    {{/if}}


template(name="content")
  .content
    .current
      {{#constant}} {{/constant}}

      {{#if sessionEquals 'shift_current' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_current' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_current' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{renderThemeColors currentUser}}
        {{renderPage}}

    .next
      {{#constant}} {{/constant}}

      {{#if sessionEquals 'shift_area' 'home'}}
      mixin topnav("home") {{/if}}
      {{#if sessionEquals 'shift_area' 'account'}}
      mixin topnav("account") {{/if}}
      {{#if sessionEquals 'shift_area' 'about'}}
      mixin topnav("about") {{/if}}

      .container
        {{#if page_next "about"}} {{> about }} {{/if}}
        {{#if page_next "about_faq"}} {{> about_faq }} {{/if}}
        {{#if page_next "about_roadmap"}} {{> about_roadmap }} {{/if}}
        {{#if page_next "about_feedback"}} {{> about_feedback }} {{/if}}
        {{#if page_next "about_blog"}} {{> about_blog }} {{/if}}

        {{#if page_next "home"}} {{> home }} {{/if}}

        {{#if page_next "account"}} {{> account }} {{/if}}
        {{#if page_next "account_offer"}} {{> account_offer }} {{/if}}
        {{#if page_next "account_messages"}} {{> account_messages }} {{/if}}
        {{#if page_next "account_feedback"}} {{> account_feedback }} {{/if}}
        {{#if page_next "account_profile"}} {{> account_profile }} {{/if}}

template(name='home')
  {{#if getStore "user_loc"}}
  {{> hero }}
  .offers(data-help-block="false", data-help-selector="offers")
    {{#each getOffers}}
    {{> offer }}
    {{/each}}
  {{else}}
  {{> intro }}
  {{/if}}

template(name='intro')
  #intro
    .row
      .span12
        h1.clr-text.clearfix Sparrow
        h3.span8.offset2.smashed.
          A real-time web application that finds 
          things near you and presents them interchangeably.
          <a href="/about" class="shift" data-shift-direction="left" data-shift-area="about"> Learn more </a>
      .clearfix
      button.btn.clr-bg.comp#getLocation Locate me automatically
      h4 or
      .input-append
        input(type="text", placeholder="address, city, or zip")
        button.btn.clr-bg.comp(type="button").geolocate Go

template(name="hero")
  .hero
    {{#constant}}

    .headline(data-help-block="false", data-help-selector="heroHeadline")
      .inner
        .tagset
          span
        .article
          span
        .sort
          span
        .tag
          span
        .noun
          span

    .list.long(data-help-block="false", data-help-selector="heroList")
      ul.tagset-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListTagset")
      ul.sort-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListSort").margin.left
      ul.tag-list.span3.margin.left(data-help-block="false", data-help-selector="heroListTag")
      ul.noun-list.span3(data-constant=true, data-help-block="false", data-help-selector="heroListNoun").margin.left

    {{/constant}}

template(name="404")
  h1.
    Are you lost?

